<app-xyz></app-xyz>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Background Image Example</title>
  <link rel="stylesheet" href="/assets/Beige and Green Illustrated Floral Quote Desktop Wallpaper.png">
</head>
<body>
  <div class="container">
      <!-- Your content here -->
      <h1 class="main-title">Welcome to <span class="title-part">Ruth</span></h1>
      <p>The Book of Ruth showcases loyalty and divine providence as Ruth, a Moabite widow, remains faithful to her Israelite mother-in-law, Naomi, leading to unexpected blessings and becoming an ancestor of King David.</p>
      <button class="custom-button" routerLink="/bible">Start Reading</button>
  </div>
</body>



   
