
.container {
  /* Additional styling for content */
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Example of semi-transparent background for content */
  border-radius: 10px; /* Rounded corners for the container */
  max-width: 600px; /* Limit width for readability */
}
body {
  /* Set background image */
  background-image: url('/assets/Beige and Green Illustrated Floral Quote Desktop Wallpaper.png');
  /* Center and cover the entire viewport */
  background-position: center;
  background-size: cover;
  /* Fix the background image */
  background-attachment: fixed;
  /* Add fallback background color */
  background-color: #f0f0f0;
  /* Ensure text is readable */
  color: #333;
  /* Reset default margin on body */
  margin: 0;
  /* Ensure full height */
  min-height: 100vh;
  /* Flex to center content vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-title {
  font-family: sans-serif;
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  color: #333; /* Adjust text color */
}

.title-part {
  font-family:cursive;
  /* Additional styles specific to the "RUTH" part if needed */
  font-size: xx-large;
  color: #c4e8a7;
}
.custom-button {
  background-color: #c4e8a7;
  color: #fff;
  font-family: 'Your Custom Font', sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.custom-button:hover {
  background-color: #abd574;
}

