/* You can add global styles to this file, and also import other style files */
button{
    background-color: azure;
    border-radius: 20px;
}
html,body{
    height:100%;
    margin: 0 ;
    padding:0;
    
}

body {
    background-color: white;
}
.hover {
    color: #555; /* Darker text color on hover */
    text-decoration: none; /* Remove underline on hover */
  }

  


