<app-xyz></app-xyz>
<div class="profile-background">
    <div class="container">
       <h1>Ruth</h1>
       <form id="searchForm" (ngSubmit)="findVerse()">
           <label for="chapter">Chapter:</label>
           <input type="number" id="chapter" name="chapter" [(ngModel)]="chapter" max="4" placeholder="Chapter number">
           <label for="verse">Verse:</label>
           <input type="number" id="verse" name="verse" [(ngModel)]="verse" placeholder="Verse number">
           <button type="submit">Find</button>
           <button type="button" (click)="favouriteVerse()">Favourite</button>
       </form>
       <div id="result">{{result}}</div>
   </div>
 </div>
 
 
