<nav class="navbar fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/Yellow White Black Lineart Elegant Woman Portrait Jewelry Logo.png" alt="Logo" width="50" height="50" class=" align-text-" (click)="navigateHome()">
      Ruth 
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/welcome" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bible" href="#">Bible</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/favourite" href="#">Favourites</a>
      </li>
    </ul>
  </div>
</nav>
