<nav class="navbar fixed-top bg-body-tertiary" style="background-color: #49bb7e;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/hb.jpg" alt="Logo" width="50" height="50" class=" align-text-" (click)="navigateHome()">
        BibleFizz 
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Bible</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Highlight</a>
        </li>
      </ul>
    </div>
  </nav>
