.nav-item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: medium;
}
 text:hover{
    color:  rgb(136, 194, 136);
 }
 .navbar-brand{
    font-size: larger; 
 }
 image{
    border-radius: 30px;
 }
