  .card-img-top {
    align-self: flex-start; /* Aligns the image to the top of the card */
    width: 30%; /* Ensures the image fills the width of the card */
    object-fit: cover; /* Maintains aspect ratio and covers the entire card */
    align-self: center;
    padding-top: 60px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensures the card expands to fill its container */
    border: 1px solid #dee2e6; /* Optional: Add a border for better visualization */
    border-radius: 0.25rem; /* Optional: Add rounded corners to the card */
  }
  
  .card-body {
    padding: 1rem; /* Add padding inside the card body */
    flex: 1; /* Allows the card body to expand to fill remaining space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-title {
    align-self: center; /* Removes default margin for card title */
    height: 10px;
    font-family:cursive;
    font-size: xx-large;
  }  
  
  .card-text {
    flex: 6; /* Allows the text to take up remaining space in the card body */
    align-self: center;/* Removes default margin for paragraph */
    padding-top: 40px;
  }
  
  .btn {
    align-self: center; /* Aligns the button to the start of the card */
    background-color: #c4e8a7;
    border-radius: 30px;
    margin-top: 3rem;
   
  }