
<div class="card">
  <div class="circle"></div>
   <div class="card-body">
    <h5 class="card-title">Ruth</h5>
    <p class="card-text">Illuminate Your Faith, One Verse at a Time</p>
    <p class="card-pp">The Book of Ruth tells the story of Ruth, a Moabite widow, who shows loyalty to her mother-in-law Naomi and ultimately marries Boaz, becoming an ancestor of King David. It highlights themes of loyalty, kindness, and God's providence.</p>
    <div class="relative ">
        <button class="btn btn-primary mr-2" routerLink="/login">lOGIN</button>
        <button class="btn btn-primary" routerLink="/signup">REGISTER</button>
      </div>
    </div>
  <img
    src="/assets/Beige New Product Mockup Now Available Facebook Post.jpeg"
    class="card-img-top"
    alt="..."
  />
</div>


