.card {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensures the card expands to fill its container */
  }
  
  .card-img-top {
    align-self: flex-start; /* Aligns the image to the top of the card */
    width: 50%; /* Ensures the image fills the width of the card */
    object-fit: cover; /* Maintains aspect ratio and covers the entire card */
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; /* Optional: Adds rounded corners to the top */
    align-self: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensures the card expands to fill its container */
    border: 1px solid #dee2e6; /* Optional: Add a border for better visualization */
    border-radius: 0.25rem; /* Optional: Add rounded corners to the card */
  }
  
  .card-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Set a fixed height for the image container */
    overflow: hidden; /* Ensures the image doesn't overflow its container */
  }
  
  .card-img {
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    max-height: 100%; /* Ensure the image doesn't exceed its container's height */
    object-fit: cover;
     /* Maintains aspect ratio and covers the container */
  }
  
  .card-body {
    padding: 1rem; /* Add padding inside the card body */
    flex: 1; /* Allows the card body to expand to fill remaining space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-title {
    align-self: center; /* Removes default margin for card title */
    height: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .card-text {
    flex: 1; /* Allows the text to take up remaining space in the card body */
    align-self: center;/* Removes default margin for paragraph */
  }
  
  .btn {
    align-self: center; /* Aligns the button to the start of the card */
    background-color: rgb(136, 194, 136);
  }